<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tour case</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
  <body>

        <div id="registerBox">
                <h5>Register</h5>
                <form action="/register" method="post">
                    <input type="text" name="name" id="txtbox" placeholder="First Name"/>
                    <input type="text" name="surname" id="txtbox"  placeholder="Last Name"/><label >Username</label>
                    <input type="text" name="username" id="txtbox"  placeholder="Username"/><label >Password</label>
                    <input type="password" name="password" id="txtbox" placeholder="Password"/>
                  <div class="actions">
                    <input id="registerUBoxu" type="submit" value="Register"/>
                  </div>
                </form>
                     <button id="registerUBoxu" onclick="prikazi('register')">Close</button>
        </div>
        
         <div id="loginBox">
                <h5>Login</h5>
                <form action="/login" method="post">
                  <div class="input"><label >Username</label>
                    <input type="text" name="username" id="txtbox1"  placeholder="Username"/><label >Password</label>
                    <input type="password" name="password" id="txtbox1"  placeholder="Password"/>
                  </div>
                  <div class="actions">
                    <input id="loginUBoxu" type="submit" value="Login"/>
                       </div>
                </form><br/>
                      <button id="loginUBoxu"  onclick="prikazi('login')">Close</button>
         </div>

      <div id="outer">
          <div class="inner"><button   id="btn1" onclick="prikazi('register')">Register</button></div>
          <div class="inner"><button   id="btn1" onclick="prikazi('login')">Login</button></div>
      </div>

    <script src="/javascripts/loginRegister.js"></script>
     </body>
                        
                        
</html>