<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tour case</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">

</head>
  <body>

        <div id="registerBox">
                <h1>register</h1>
                <form action="/register" method="post">
                  <div class="input"><span class="label">Ime</span>
                    <input type="text" name="firstname" id="firstname" value="" placeholder=""/><br/><span class="label">Prezime</span>
                    <input type="text" name="lastname" id="lastname" value="" placeholder=""/><br/><span class="label">Username</span>
                    <input type="text" name="username" id="username" value="" placeholder=""/><br/><span class="label">Lozinka</span>
                    <input type="password" name="password" id="password"/>
                  </div>
                  <div class="actions">
                    <input type="submit" value="register"/>
                  </div>
                </form>
                     <button onclick="prikazi('hide','register')">Close</button>
        </div>
        
        
                 <div id="loginBox">
                        <h1>login</h1>
                        <form action="/login" method="post">
                          <div class="input"><span class="label">Username</span>
                            <input type="text" name="username" id="username" value="" placeholder=""/><br/><span class="label">Lozinka</span>
                            <input type="password" name="password" id="password" value="" placeholder=""/>
                          </div>
                          <div class="actions">
                            <input type="submit" value="login"/>
                               </div>
                        </form><br/>
                              <button onclick="prikazi('hide','login')">Close</button>
                 </div>

     <button onclick="prikazi('show','register')">Register</button>
     <button onclick="prikazi('show','login')">Login</button>

    <script src="/javascripts/loginRegister.js"></script>
     </body>
                        
                        
</html>