extends layout

 
block content
    h1= "register"
    form(action="/register", method="post")
        div.input
            span.label Ime
            input(type="text", name="firstname",id="firstname",value="",placeholder="")
            br
            span.label Prezime
            input(type="text", name="lastname",id="lastname",value="",placeholder="")
            br
            span.label Username
            input(type="text", name="username",id="username",value="",placeholder="")
            br
            span.label Lozinka
            input(type="password", name="password",id="password")
        div.actions
            input(type="submit", value="register")
  
    h1="login"
    form(action="/login", method="post")
        div.input
            span.label Username
            input(type="text", name="username",id="username",value="",placeholder="")
            br
            span.label Lozinka
            input(type="password", name="password",id="password",value="",placeholder="")
         div.actions
            input(type="submit", value="login")
    br
    form(action="/logout",method="get")
      input(type="submit", value="logout")